name: CI

# Automatically stop old builds on the same branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    strategy:
      max-parallel: 5
      matrix:
        env:
          - py39
          - py310
          - py311
          - py312
          - py313
        os:
          - ubuntu-latest
          - macos-latest
          # TODO: fix windows
          # - windows-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@fef5c9568ca6c4ff7707bf840ab0692ba3f08293 # v0.9.0
        with:
          environments: ${{ matrix.env }}
      - name: Install repository
        run: |
          pixi run -e ${{ matrix.env }} postinstall
      - name: Run tests
        run: |
          pixi run -e ${{ matrix.env }} test --color=yes
      - name: Type checking
        run: |
          pixi run -e ${{ matrix.env }} mypy mkdocs_marimo

  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup pixi
        uses: prefix-dev/setup-pixi@fef5c9568ca6c4ff7707bf840ab0692ba3f08293 # v0.9.0
        with:
          environments: lint default
      - name: pre-commit
        run: pixi run pre-commit-run --color=always --show-diff-on-failure
